button
{
    margin-left:80px;
    margin-top: 20px;
    color: black;
    padding:10px 12px;
    border-radius: 25px;
    font: 2em;
    position: relative;
    cursor: pointer;
    display: inline-block;
    border: 2px solid black;
}

h2{
    padding:10px 8px;
    text-align: center;    
    margin-right: 125px;
    color: rgb(0, 0, 0)
}
.container
{
    height: 250px;
    width: 300px;
   position: relative;
    padding:15px 15px;
    right: 5%;
    
    background-color: rgb(255, 255, 255);
    border-radius: 5% 5% 30% 30%; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 5px solid black;
       
}
.btn
{
    margin-left: 5px;
}
.labels
{
    font-size: 2em;
}
input
{
    width:120px;
    border: 2px solid black;

}
.right{
    position: relative;
    left: 100%;
    bottom: 100%;
  
}
#profile
{
    border-radius: 50%;
    height: 150px;
    width:150px;
    border: 5px solid white;
}
img
{
    align-content: center;
    margin-top: 20px; 
    margin-left: 100px;
    height: 200px;
    width: 200px;
    border-radius: 50px;
    border: 5px solid goldenrod;
   

}
nav a {
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 50px;
  }
nav a:visited, a:link {
    color: #334953;
  }
  nav a:hover
 {
  color: #039be5;
  background-color: #cfd8dc;
}
  nav a.active
{
    color: #039be5;  
}
