<nav>
    <a routerLink = "/dashboard">Dashboard</a>
    <a routerLink = "/employees">Employees</a>
    <a class = "right" routerLink = "/login">Logout</a>
  </nav>
  <div class = "body">
      <h2>The Cricketers</h2>
      <ul class="employees">
        <li *ngFor = "let employee of employees">
        <a><span class="badge">{{employee.id}}</span> {{employee.name}}</a>    
          <div>
      <button class="delete" (click) = "delete(employee)">Delete</button>
      <button class="update" routerLink="/detail/{{employee.id}}">Update</button>
          </div>    
        </li>
      </ul>
    </div>
  


