<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><b>BCCI</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" routerLink = "/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "/employees" >Cricketer</a>
      </li>
      <li class="nav-item" id="logout">
        <a class="nav-link"  routerLink = "/login">Logout</a>
      </li>
      </ul>
  </div>
</nav>


<!--<nav>
    <a routerLink = "/dashboard">Dashboard</a>
    <a routerLink = "/employees">Cricketers</a>
    <a class = "right" routerLink = "/login">Logout</a>
  </nav> -->
  <div class="add">
      <label class="addPlayer"><b>Add Player:</b><input #employeeName /></label>    
      <button (click)="add(employeeName.value); employeeName.value=''">
        Add
      </button> 
  </div>
  
  <div class = "body">
      <h2>The Cricketers</h2>
      <ul class="employees">
        <li *ngFor = "let employee of employees">
        <a><span class="badge">{{employee.id}}</span> {{employee.name}}</a>    
          <div>
      <button class="delete" (click) = "delete(employee)">X</button>
      <button class="update" routerLink="/detail/{{employee.id}}">Update</button>
          </div>    
        </li>
      </ul>
    </div>
  


