<h1>{{title}}</h1>
<nav>
  <a routerLink = "/dashboard">Dashboard</a>
  <a routerLink = "/employees">Employees</a>
  <a class = "right" routerLink = "/login">Logout</a>
</nav>
 
 <h3>Top Cricketers</h3>

<div class="grid grid-pad"> 
  <div class="card" *ngFor="let cricketer of cricketers" class="col-1-4">
    <img src={{cricketer.img}} class="card-img-top" alt="...">
    <div class="card-body">      
      <a routerLink = "/detail/{{cricketer.id}}" class="btn btn-primary">{{cricketer.name}}</a>    
    </div>
</div>
