/* DashboardComponent's private CSS styles */
[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
 
  
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
 
  h3 {
    text-align: center;
    margin-bottom: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


  }
  h4 {
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
 
  
 /* nav a {
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 50px;
  }
  nav a:visited, a:link {
    color: #334953;
  }
  nav a:hover
   {
    color: #039be5;
    background-color: #cfd8dc;
}
  nav a.active
{
    color: #039be5;  
}*/
h3
{
  color: whitesmoke;
  margin-top:35px;
}
img
{
  height: 200px;
  width: 200px;
  border-radius: 20px;
  border: 5px solid rgb(255, 255, 255);
  margin-top:40px;
}

.col-1-4
{
height: 260px;
width: 260px;
}
.card-title
{
  color: #334953;
  margin-left: 60px;
 

}
.card-body
{
  margin-left:35px;
}

